{
  "presets": [
    [
      "@vue/app",
      {
        "useBuiltIns": "entry"
      },"env", "react", "stage-2"
    ]
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}